.wrapper {
    display: grid;
    grid-template-columns: 1fr auto ;   
}

.tabs {
    content: ''
}

.status_pane {
    width: 275px;
    height: 100%;
    display: grid;
    grid-template-rows: 56px 1fr;
}

.status_pane_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: lightgray solid 1px;
}

.status_panel {
    position: relative;
    overflow-y: auto;
}
.status_panel_scroll {
    position: absolute;
    height: auto;
    width: inherit;
    padding: 10px;
}