.wrapper {
    /* background: teal; */
    border-radius: 8px 0 0 0;
    height: 100%;
}

/*Page Content Wrapper*/
.content {
    display: grid;
    grid-template-rows: 56px 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}

/*Page Scrollable Content*/
.content_scroll {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: inherit;
}

/*Content Wrapper With Header*/
.content_wrapper {
    position: relative;
    height: 100%;
    width: inherit;
    overflow-y: auto;
}

/*Content Wrapper Scrollable View with Header*/
.content_wrapper_scroll {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: inherit;
}

.header_wrapper {
    border-radius: 8px 0 0 0;
    border-bottom: solid lightgray 1px;
}