.wrapper {
    height: calc(100vh - (122px));
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.scrollPaneWrapper {
    height: inherit;
    width: inherit;
    position: relative;
    overflow-y: auto;
}

.scrollPane {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: inherit;
}