.container {
    height: 56px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid lightgray;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}