.pageWrapper {
    height: 100vh;
    width: 100vw;
    background: url('/bg.test.png') center;
    /*Update This*/
}

.contentWrapper {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-rows: 25% 1fr 1fr;
    place-content: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
}

.top {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 25px;
}


@media screen and (max-width: 600px) {
    .contentWrapper {
        grid-template-rows: 1fr 1fr 1fr;
    }
}